<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BJJA.Scoreboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <BJJA.Scoreboard.Properties.Settings>
            <setting name="whiteScoreOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="whiteScoreOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="whiteScoreBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="whiteAdvOn" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="whiteAdvOff" serializeAs="String">
                <value>10, 10, 0</value>
            </setting>
            <setting name="whiteAdvBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="whitePenOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="whitePenOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="whitePenBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="blueScoreOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="blueScoreOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="blueScoreBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="blueAdvOn" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="blueAdvOff" serializeAs="String">
                <value>10, 10, 0</value>
            </setting>
            <setting name="blueAdvBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="bluePenOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="bluePenOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="bluePenBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="timeOn" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="timeOff" serializeAs="String">
                <value>0, 10, 0</value>
            </setting>
            <setting name="timeBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="luteOn" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="luteOff" serializeAs="String">
                <value>0, 10, 0</value>
            </setting>
            <setting name="luteBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="whiteMedicalOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="whiteMedicalOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="whiteMedicalBg" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="blueMedicalOn" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="blueMedicalOff" serializeAs="String">
                <value>10, 0, 0</value>
            </setting>
            <setting name="blueMedicalBg" serializeAs="String">
                <value>Black</value>
            </setting>
        </BJJA.Scoreboard.Properties.Settings>
    </userSettings>
</configuration>
